<div class="card">
  <div class="card-header">{{ pageTitle }}</div>

  <form #searchForm="ngForm" (ngSubmit)="search()">
    <div class="row-div">
      <div class="column right">
        <label>Movie Title:</label>
      </div>

      <div class="column left">
        <input type="text" id="inputMovieTitle" name="title" ngModel />
      </div>
    </div>

    <div class="row-div">
      <div class="column right">
        <label>Director:</label>
      </div>

      <div class="column left">
        <input id="inputMovieDirector" type="text" name="director" ngModel />
      </div>
    </div>

    <div class="row-div">
      <div class="column right">
        <label>Min Star Rating (1-5):</label>
      </div>

      <div class="column left">
        <input
          id="inputStarRating"
          type="number"
          name="minStarRating"
          max="5"
          min="1"
          ngModel
        />
      </div>
    </div>

    <div class="row-div">
      <div class="column right">
        <label>Max Star Rating (1-5):</label>
      </div>

      <div class="column left">
        <input
          id="inputStarRating"
          type="number"
          name="maxStarRating"
          max="5"
          min="1"
          ngModel
        />
      </div>
    </div>

    <div class="row-div">
      <div class="column right">
        <label>Description:</label>
      </div>

      <div class="column left">
        <textarea
          id="inputMovieDescription"
          rows="3"
          name="description"
          ngModel
        ></textarea>
      </div>
    </div>

    <div class="row">
      <button
        mat-raised-button
        type="submit"
        color="primary"
      >
        Search
      </button>
    </div>
  </form>
</div>
