::ng-deep .ngx-charts { text { fill: #fff !important; } }

.chart-card {
  background-color: #212121;
  max-width: 700px;
  height: 400px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.card-header {
  background-color: #212121;
  max-width: 700px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.actions{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  button {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .search {
    width: 400px;
  }
}

ngx-charts-bar-vertical {
  position: absolute;
}

.cards {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  mat-card {
    background-color: #212121;
    width: 200px;
    color: #fff;
    margin: 5px;
    .top {
      text-align: center;
      font-size: 23px;
    }
    .middle, .bottom {
      text-align: center;
      font-size: 15px;
      margin-top: 10px;
    }
    .bottom {
      .c {
        color: rgb(17, 175, 17);
      }
      .r {
        color: rgb(245, 77, 10);
      }
    }
  }
}




