/* Structure */
.container {
  position: relative;
}

.table-container {
  position: relative;
  overflow: auto;
  height: calc(100vh - 230px);
}

table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

tr.mat-header-row {
  background-color: #212121;
}

td.mat-cell, th.mat-header-cell{
  padding-left: 8px;
}
