fieldset {
  padding:0 10px;
}

input {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  font-size: 17px;
  border: 1px solid #5452FF;
  color: white;
  background: #5C6664;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

input.is-invalid {
  border: 2px solid rgb(233, 57, 57);
 /*  background: #c95353; */
}

input.is-invalid:focus {
outline: none;
}

.invalid-feedback{
   color: rgb(233, 57, 57);
   font-size: 12px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9da3a2;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #9da3a2;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #9da3a2;
}
