<app-spinner *ngIf="load" color="#5552ff" class="spinner"></app-spinner>

<div class="header">
  <div class="flex-container">
    <div>
      <span class="pageTitle">{{ pageTitle }}</span>
      <div style="display: inline-block;">
        <i
        class="fas fa-list fa-2x icon"
        [class.color]="displayView === 'list'"
        matTooltip="List View"
        matTooltipClass="toolpit"
        (click)="changeView('list')"
      ></i>
      <i
        class="fas fa-th fa-2x icon"
        [class.color]="displayView === 'grid'"
        matTooltip="Grid View"
        matTooltipClass="toolpit"
        (click)="changeView('grid')"
      ></i>
      </div>
    </div>
    <app-select-input
      label="order by:"
      [options]="['Release Date', 'Rating', 'Audience Approval', 'Most Popular']"
      [option]="orderBy"
      (optionChange)="changeOrderBy($event)"
      class="select"
    >
    </app-select-input>
    <app-select-input
      label="Category:"
      [options]="movieCategories"
      [option]="category"
      (optionChange)="changeCategory($event)"
      class="select"
    >
    </app-select-input>
    <app-search
      [search]="title"
      (searchChange)="searchByTitle($event)"
      class="search"
    ></app-search>
  </div>
</div>
<ng-container *ngIf="filteredMovies && filteredMovies.length">
  <app-movie-list
    [movies]="filteredMovies"
    *ngIf="displayView === 'list'"
  ></app-movie-list>
  <app-movie-grid
    [movies]="filteredMovies"
    *ngIf="displayView === 'grid'"
  ></app-movie-grid>
</ng-container>
<div *ngIf="!load && filteredMovies.length === 0" class="notfound">No movies found.</div>

<app-scroll-top></app-scroll-top>
