<div class="container" *ngIf="movie">
  <div class="img-container">
    <img [src]="movie.imageurl" />
    <button class="btn"><i class="fas fa-play-circle fa-3x" [routerLink]="['/play', movie.ytId]"></i></button>
  </div>
  <div class="card">
    <mat-card>
      <h3>
        <p>
          {{ movie.title }}
        </p>
      </h3>
      <hr />
      <p>
        <span class="param">Description:</span>
        {{ movie.description }}
      </p>
      <p>
        <span class="param">Director:</span>
        {{ movie.director }}
      </p>
      <p>
        <span class="param">Release Date:</span>
        {{ movie.releaseDate | date }}
      </p>
      <p>
        <span class="param">MPAA Film Rating:</span>
        {{ movie.mpaa | uppercase }}
      </p>
      <p>
        <span class="param">Category:</span>
        {{ movie.category }}
      </p>
      <p>
        <span class="param">Tags:</span>
        <mat-chip-list
          *ngFor="let item of movie.tags"
          style="display: inline-block"
        >
          <mat-chip color="warn" selected>{{ item }}</mat-chip>
        </mat-chip-list>
      </p>
      <p>
        <span class="param">
          Star Rating:
          <app-star style="display: inline-block" [rating]="movie.starRating">
          </app-star>
        </span>
      </p>
      <p>
        <span class="param">Audience Approval:</span>
        {{ movie.approvalRating | percent: "1.0-0" }}
      </p>
      <button
        mat-raised-button
        color="warn"
        style="margin: 5px"
        (click)="onBack()"
      >
        <i class="fa fa-chevron-left"></i>
        Back
      </button>
      <!-- <button mat-raised-button
           color="warn"
           [routerLink]="['/movies', movie.id, 'edit']">
       Edit
      </button> -->
      <button mat-raised-button color="accent" style="margin: 5px" [routerLink]="['/play', movie.ytId]">
        <i class="fas fa-play-circle fa-2x"></i>
        <span style="font-size: large; margin-left: 10px">Play</span>
      </button>
      <app-watchlist-button [movieId]="movie.id" style="margin: 5px"></app-watchlist-button>
    </mat-card>
  </div>
</div>
