.showcase::after {
  content: '';
  height: 100vh;
  width: 100%;
  background-image: url(../../../../assets/img/adult-bar-cafe-cinema.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}


mat-card {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 10px;
  margin-left: -165px;
  width: 300px;
  height: fit-content;
  text-align: center;
  background-color: rgba(255, 255, 240, 0.712);
}

@media only screen and (max-height: 600px) {
  mat-card {
      top: 1%;
  }
}



