.wrapper {
  height: 100%;
  background-color: black;
}

.time-slider {
  width: 100% !important;
}

button {
  width: 100px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
