.title {
  font-family: 'Poller One', cursive;
  color: #6C63FF;
  font-size: 23px;
  padding-left: 5px;
}

.label {
  margin-left: 3px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content
.lock-icon,  .btn{
  display: flex;
  justify-content: center;
}

.lock-icon{
  margin-bottom: 15px;
}

.action-btn {
  width: 140px;
}

.bottom-btns {
  margin-top: 20px;
}

.forgot {
  font-size: 13px;
}

.signup {
  font-size: 14px;
}

fieldset {
  margin-top: 20px;
  background-color: #e0e0eb2c;
  border: dashed rgb(148, 147, 147) 2px;
}

legend {
 font-size: 14px;
 font-weight: bold;
}

.test-btn {
  margin: 3px;
  width: 160px;
}

a, a:visited {
  text-decoration: none;
  color: #f9fbfd;
}





