<div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="{{movie.imageurl}}" loading="lazy"/>
      <h1 [routerLink]="['/movies', movie.id]" class="title">{{movie.title}}</h1>
      <h4><span class="date">({{ movie.releaseDate | date}})</span> {{movie.director}}</h4>
      <span class="minutes">117 min</span>
      <p class="category">{{movie.category}}</p>
      <p class="mpaa">{{ movie.mpaa | uppercase }}</p>
      <p class="type">{{ movie.price | currency:'USD':'symbol' }}</p>
    </div>
    <div class="movie_desc">
      <p class="text">
              {{movie.description}}
              <app-star [rating]="movie.starRating"></app-star>
              <span class="approvalRating">{{ movie.approvalRating | percent: '1.0-0'}}</span>
      </p>
    </div>
    <div class="movie_social">
        <button mat-raised-button color="warn" style="margin:2px" [routerLink]="['/movies', movie.id]">
          <i class="fas fa-info-circle"></i>
          Details
        </button>
        <button mat-raised-button color="accent" style="margin:2px" [routerLink]="['/play', movie.ytId]">
              <i class="fas fa-play-circle fa-2x"></i>
              <span style="font-size: large; margin-left: 10px;">Play</span>
        </button>
        <app-my-list-button style="margin:2px"></app-my-list-button>
    </div>
  </div>
  <div class="blur_back" [ngStyle]="{'background-image': 'url(' + movie.imageurl + ')'}"></div>
</div>
