*{
  box-sizing: border-box;
  margin: 0;
}

.movie_card{
  position: relative;
  display: block;
  max-width: 800px;
  height: 350px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
  .info_section{
    position: relative;
    width: 100%;
    height: 100%;
	  background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    .movie_header{
      position: relative;
      padding: 25px;
      height: 40%;
      h1{
        font-size:18px;
        color: #fff;
        font-weight: 400;
      }
      h4{
        color: #9ac7fa;
        font-weight: 400;
      }
      .date{
        color: #a5fa9a;
      }
      .minutes{
        display: inline-block;
        margin-top: 10px;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(60, 171, 235, 0.616);
      }
      .category{
        display: inline-block;
        margin-top: 10px;
        margin-left: 2px;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(14, 230, 104, 0.438);
      }
      .mpaa{
        display: inline-block;
        margin-top: 10px;
        margin-left: 2px;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgba(228, 46, 46, 0.568);
      }
      .type{
        display: inline-block;
        color: #cee4fd;
        margin-left: 10px;
        margin-top:10px;
      }
      .locandina{
        position: relative;
        float: left;
        margin-right: 20px;
        height: 120px;
        box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
      }
    }
    .movie_desc{
      padding: 25px;
      height: 40%;
      .text{
        color: #cfd6e1;
      }
    }
    .movie_social{
      margin-top:17px;
      margin-left:5px;
      padding-left: 15px;
      padding-bottom: 20px;
    }
  }
  .blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: cover;
    border-radius: 11px;
  }
}

@media screen and (min-width: 768px) {

  .movie_header{
    width: 60%;
  }

  .movie_desc{
    width: 50%;
  }

  .info_section{
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }

  .blur_back{
    width: 80%;
    background-position: -100% 10% !important;
  }
}

@media screen and (max-width: 768px) {

  .movie_card{
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .blur_back{
    width: 100%;
    background-position: 50% 50% !important;
  }

  .movie_header{
    width: 100%;
    margin-top: 85px;
  }

  .movie_desc{
    width: 100%;
  }

  .info_section{
    background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
    display: inline-grid;
  }
}


#bright{
  &:hover{
    box-shadow: 0px 0px 150px -45px #5552ff7a;
  }
}

.approvalRating {
  color: #a5fa9a;
}

.title {
 cursor: pointer;
}
