<header class="showcase">
    <div class="content">
      <img src="../../../assets/img/undraw_movie_night_93wl.svg" class="logo" alt="MovieFinder">
      <div class="title">
        Welcome To <span class="mv">MovieFinder</span>
      </div>
      <div class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, vel.
      </div>
      <button mat-flat-button color="accent" 
              routerLinkActive='active'
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink='/movies'>Explore</button>
    </div>
  </header>

  <!-- Services -->
  <section class="services">
    <div class="container grid-3 center">
      <div>
        <i class="fas fa-video fa-3x"></i>
        <h3>Movies</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, reiciendis!</p>
      </div>
      <div>
        <i class="fas fa-film fa-3x"></i>
        <h3>Series</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, reiciendis!</p>
      </div>
      <div>
        <i class="fas fa-person-booth fa-3x"></i>
        <h3>Actors</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, reiciendis!</p>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="about bg-light">
    <div class="container">
      <div class="grid-2">
        <div class="center">
          <i class="fas fa-mug-hot fa-10x"></i>
        </div>
        <div>
          <h3>About Us</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non eos aperiam labore consectetur maiores ea magni exercitationem
            similique laborum sed, unde, autem vel iure doloribus aliquid. Aspernatur explicabo consectetur consequatur non
            nesciunt debitis quos alias soluta, ratione, ipsa officia reiciendis.</p>
        </div>
      </div>
    </div>
  </section>

  <footer class="center bg-dark">
    <p class="footer-links">
      <a target="_blank" href="https://github.com/sakmanal">Athanasios Manalikadis </a>&copy; 2019
    </p>
  </footer>