<div *ngIf="movie">
   <div class="sidenav-content" [ngStyle]="{'background-image': 'url(' + movie.imageurl + ')'}"></div>
   <div class="main-content">
     <div class="info">
        <div class="title">{{movie.title | uppercase}}</div>
        <div class="category-rating">
          <div>{{movie.category}} | {{movie.releaseDate | date:'y'}}</div>
          <app-percentage-circle-rating [value]="movie.approvalRating * 100"></app-percentage-circle-rating>
        </div>
        <div class="desc">{{movie.description}}</div>
        <app-watchlist-button [movieId]="movie.id" class="list-btn"></app-watchlist-button>

     </div>
  </div>
</div>
