.sidenav-content {
  height: 100%;
  position: absolute;
  top:0;
  width: 100%;
  bottom: 0;

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content {
  position: absolute;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: aliceblue;
  height: 100%;
  width: 100%;
}

.info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 95%;
}

.title {
  font-size: large;
  font-weight: bold;
}

.category-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.desc {
  margin-top: 10px;
}

.list-btn {
  margin-top: 5px;
  flex-grow: 1;
}

.bottom-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


