<div class="alternate-theme">
  <mat-toolbar color="primary" class="mat-elevation-z4">
   
    <button mat-button class="title" routerLink='/welcome'>{{pageTitle}}</button>
    <span *ngIf="mobileQuery.matches ? false : true">
         <button mat-button
            routerLinkActive='active'
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink='/movies'>
            <i class="fas fa-list-ul"></i>
            Movie List
        </button>
        <button mat-button
            routerLinkActive='active'
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink='/movies/search'>
            <i class="fas fa-search"></i>
            Advanced Search
        </button>
        <button mat-button
            routerLinkActive='active'
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="['/movies', 0, 'edit']">
            <i class="fas fa-plus"></i>
            Add Movie
        </button>
    </span>
    

    <span class="spacer"></span>
    <button *ngIf="isLoggedIn" mat-button routerLink="/login">
         <span>Welcome <i class="username">{{ userName }}</i></span>
    </button>
    <button mat-raised-button color="warn" *ngIf="!isLoggedIn" routerLink="/login">
        <i class="fas fa-sign-in-alt"></i>
        <span class="menu-item">Log In</span>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <i class="fas fa-chevron-circle-down fa-2x"></i>
    </button> 
    <mat-menu #menu="matMenu">
        <span *ngIf="mobileQuery.matches ? true : false">
                <button mat-menu-item
                        routerLinkActive='active'
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLink='/movies'>
                        <i class="fas fa-list-ul"></i>
                        <span class="menu-item">Movie List</span>
                </button>
                <button mat-menu-item
                        routerLinkActive='active'
                        [routerLinkActiveOptions]="{ exact: true }"
                        routerLink='/movies/search'>
                        <i class="fas fa-search"></i>
                        <span class="menu-item">Advanced Search</span>
                </button>
                <button mat-menu-item
                        routerLinkActive='active'
                        [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="['/movies', 0, 'edit']">
                        <i class="fas fa-plus"></i>
                        <span class="menu-item">Add Movie</span>
                </button>
        </span>
        <button mat-menu-item>
                <i class="fab fa-github-alt"></i>
                <span class="menu-item">GitHub</span>
        </button>
        <button mat-menu-item *ngIf="isLoggedIn" (click)="logOut()">
                <i class="fas fa-sign-out-alt"></i>
                <span class="menu-item">Log Out</span>
        </button>
    </mat-menu> 
  </mat-toolbar>
</div>



