<div class="showcase">

    <mat-card>
      <p class="lock-icon"><i class="fas fa-user-lock fa-3x"></i></p> 
      <mat-card-title>
           LOGIN to <span class="title">MovieFinder</span>
      </mat-card-title>
        <mat-card-content>
         
         <form novalidate
               (ngSubmit)="login(loginForm)" 
               #loginForm="ngForm" 
               autocomplete="off">
          <p>
            <mat-form-field color="warn" appearance="outline">
              <input type="text" 
                     matInput 
                     placeholder="Username"
                     required
                     ngModel
                     name="userName"
                     #userNameVar="ngModel">   
              <mat-label><i class="fas fa-user"></i></mat-label>
              <mat-label class="label">Type your User name</mat-label>    
              <mat-error *ngIf="userNameVar.errors?.required">
                User name is <strong>required</strong>.
              </mat-error>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field color="warn" appearance="outline">
              <input type="password" 
                     matInput 
                     placeholder="Password" 
                     required
                     ngModel
                     name="password"
                     #passwordVar="ngModel"
                     [type]="hide ? 'text' : 'password'">
                     <button mat-icon-button matSuffix 
                             type="button"
                             (click)="hide = !hide" 
                             [attr.aria-label]="'Hide password'" 
                             [attr.aria-pressed]="hide">  
                             <i [ngClass]="(hide)?'fas fa-eye':'fas fa-eye-slash'"></i>
                    </button>         
              <mat-label><i class="fas fa-unlock-alt"></i></mat-label>
              <mat-label class="label">Type your Password</mat-label>  
              <mat-error *ngIf="passwordVar.errors?.required">
                Password is <strong>required</strong>.
              </mat-error>
            </mat-form-field>
          </p>

          <div class="button">
            <button type="submit" 
                    color="warn" 
                    mat-raised-button>Log In    
            </button>
            <button color="primary" 
                    type="button"
                    mat-raised-button 
                    [routerLink]="['/welcome']"
                    style="margin-left: 10px">Cancel
            </button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>

    
</div>

