@import '~ngx-toastr/toastr';

body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
  }

.error {
  color: red;
  font-size: 12px;
}

.spinner {
  z-index: 99 !important;
  position: fixed;
  top: 30%;
  left: calc(50% - 30px);
}

*:focus {
  outline: 0;
}
